
.icon-attach:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-signal:before { content: '\e805'; } /* '' */
.icon-chart-bar:before { content: '\e806'; } /* '' */
.icon-user-add:before { content: '\e807'; } /* '' */
.icon-login:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */